//npm.pkg.github.com/:_authToken=414be305a5c64965bed27c8684e43ffe74ce1f73

$ npm login --registry=https://npm.pkg.github.com
> Username: danpryjma
> Password: 414be305a5c64965bed27c8684e43ffe74ce1f73
> Email: daniel.pryjma@gmail.com
$ npm publish
